@page
@model PSUTutorcheerup.Pages.NewTutor.CreateModel

@{
    ViewData["Title"] = "สร้างข้อมูลใหม่";
}

<h2>สร้างข้อมูลใหม่</h2>

<h4>กรอกข้อมูลผู้ติวหนังสือ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tutor.NewsUserID" class="control-label"></label>
                <select asp-for="Tutor.NewsUserID" class ="form-control" asp-items="ViewBag.NewsUserID"></select>
            </div>
            <div class="form-group">
                ชื่อเล่น
                <input asp-for="Tutor.ShotName" class="form-control" />
                <span asp-validation-for="Tutor.ShotName" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อ-นามสกุล
                <input asp-for="Tutor.fullName" class="form-control" />
                <span asp-validation-for="Tutor.fullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                เพศ
                <input asp-for="Tutor.Gender" class="form-control" />
                <span asp-validation-for="Tutor.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                เบอร์โทรศัพท์
                <input asp-for="Tutor.Tell" class="form-control" />
                <span asp-validation-for="Tutor.Tell" class="text-danger"></span>
            </div>
            <div class="form-group">
                Facebook
                <input asp-for="Tutor.Facebook" class="form-control" />
                <span asp-validation-for="Tutor.Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                รหัสวิชา
                <input asp-for="Tutor.courseID" class="form-control" />
                <span asp-validation-for="Tutor.courseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อวิชา
                <input asp-for="Tutor.Subject" class="form-control" />
                <span asp-validation-for="Tutor.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                สถานที่ติวหนังสือ
                <input asp-for="Tutor.Local" class="form-control" />
                <span asp-validation-for="Tutor.Local" class="text-danger"></span>
            </div>
            <div class="form-group">
                จำนวนชั่วโมง
                <input asp-for="Tutor.Hours" class="form-control" />
                <span asp-validation-for="Tutor.Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชั่วโมงละกี่บาท
                <input asp-for="Tutor.Money" class="form-control" />
                <span asp-validation-for="Tutor.Money" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
