@page
@model PSUTutorcheerup.Pages.NewTutor.DeleteModel

@{
    ViewData["Title"] = "ลบข้อมูลออก";
}

<h2>ต้องการลบข้อมูลออก?</h2>


<div>
    <h4>ข้อมูลผู้ติวหนังสือ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tutor.NewsUse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutor.NewsUse.NewsUserID)
        </dd>
        <dt>
            ชื่อเล่น
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutor.ShotName)
        </dd>
        <dt>
            ชื่อ-นามสกุล
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutor.fullName)
        </dd>
        <dt>
            เพศ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutor.Gender)
        </dd>
        <dt>
            เบอร์โทรศัพท์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutor.Tell)
        </dd>
        <dt>
           Facebook
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutor.Facebook)
        </dd>
        <dt>
            รหัสวิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutor.courseID)
        </dd>
        <dt>
            ชื่อวิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutor.Subject)
        </dd>
        <dt>
            สถานที่ติวหนังสือ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutor.Local)
        </dd>
        <dt>
            จำนวนชั่วโมง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutor.Hours)
        </dd>
        <dt>
            ชั่วโมงละกี่บาท
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutor.Money)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tutor.TutorID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
