@page
@model PSUTutorcheerup.Pages.NewTutor.IndexModel

@{
    ViewData["Title"] = "นักศึกษาผู้ติวหนังสือ";
}

<h2>นักศึกษาผู้ติวหนังสือ</h2>

<p>
    <a asp-page="Create">สร้างข้อมูลใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tutor[0].NewsUse)
            </th>
            <th>
                ชื่อเล่น
            </th>
            <th>
                ชื่อ-นามสกุล
            </th>
            <th>
                เพศ
            </th>
            <th>
                เบอร์โทรศัพท์
            </th>
            <th>
                Facebook
            </th>
            <th>
                รหัสวิชา
            </th>
            <th>
                ชื่อวิชา
            </th>
            <th>
                สถานที่ติวหนังสือ
            </th>
            <th>
                จำนวนชั่วโมง
            </th>
            <th>
                ชั่วโมงละกี่บาท
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tutor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsUse.NewsUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShotName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TutorID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TutorID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TutorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
