﻿@page
@model IndexModel
@{
    ViewData["Title"] = "PSU Tutor";
}
<body style="background-color:#FFCCCC">
<div class="jumbotron" style="background-color:#E098AE">
	<center><h1 style="color:#FFFFFF"> PSU Tutor cheer up </h1></center>
</div>

<div class="row">
	<center><img src="~/images/study.PNG" width=600 height=400></center>
	This website is used for Student.
</div>


